{% include base_path %}

<!-- start custom head snippets -->

<link rel="apple-touch-icon" sizes="57x57" href="{{ base_path }}/images/apple-touch-icon-57x57.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="60x60" href="{{ base_path }}/images/apple-touch-icon-60x60.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="72x72" href="{{ base_path }}/images/apple-touch-icon-72x72.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="76x76" href="{{ base_path }}/images/apple-touch-icon-76x76.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="114x114" href="{{ base_path }}/images/apple-touch-icon-114x114.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="120x120" href="{{ base_path }}/images/apple-touch-icon-120x120.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="144x144" href="{{ base_path }}/images/apple-touch-icon-144x144.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="152x152" href="{{ base_path }}/images/apple-touch-icon-152x152.png?v=M44lzPylqQ">
<link rel="apple-touch-icon" sizes="180x180" href="{{ base_path }}/images/apple-touch-icon-180x180.png?v=M44lzPylqQ">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-32x32.png?v=M44lzPylqQ" sizes="32x32">
<link rel="icon" type="image/png" href="{{ base_path }}/images/android-chrome-192x192.png?v=M44lzPylqQ" sizes="192x192">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-96x96.png?v=M44lzPylqQ" sizes="96x96">
<link rel="icon" type="image/png" href="{{ base_path }}/images/favicon-16x16.png?v=M44lzPylqQ" sizes="16x16">
<link rel="manifest" href="{{ base_path }}/images/manifest.json?v=M44lzPylqQ">
<link rel="mask-icon" href="{{ base_path }}/images/safari-pinned-tab.svg?v=M44lzPylqQ" color="#000000">
<link rel="shortcut icon" href="/images/favicon.ico?v=M44lzPylqQ">
<meta name="msapplication-TileColor" content="#000000">
<meta name="msapplication-TileImage" content="{{ base_path }}/images/mstile-144x144.png?v=M44lzPylqQ">
<meta name="msapplication-config" content="{{ base_path }}/images/browserconfig.xml?v=M44lzPylqQ">
<meta name="theme-color" content="#ffffff">
<link rel="stylesheet" href="{{ base_path }}/assets/css/academicons.css"/>

<script type="text/x-mathjax-config"> MathJax.Hub.Config({ TeX: { equationNumbers: { autoNumber: "all" } } }); </script>
<script type="text/x-mathjax-config">
  MathJax.Hub.Config({
    tex2jax: {
      inlineMath: [ ['$','$'], ["\\(","\\)"] ],
      processEscapes: true
    }
  });
</script>
<script src='https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/latest.js?config=TeX-MML-AM_CHTML' async></script>
<script src="{{ base_path }}/assets/js/chart.js"></script>
<script src="{{ base_path }}/assets/js/pie.js"></script>
<script>
        window.onload = function() {
        let ctx = document.getElementById('myChart').getContext('2d');
        let imageA = new Image();
        imageA.src = "https://s2.loli.net/2023/08/12/lWgcaKm4rGUdYDH.jpg";  
        let imageB = new Image();
        imageB.src = "https://s2.loli.net/2023/08/12/zdoCFUZr8tBvL3M.webp"; 
        let imageC = new Image();
        imageC.src = "https://s2.loli.net/2023/08/12/tZKJC9QxbApHwUm.jpg"; 
        let images = [imageA, imageB, imageC];  
        var drawPlugin = {
            id: 'draw',
            beforeDraw: function (chart, args, options) {
                if (chart.data.datasets.length > 0) {
                    let { offset_x, offset_y, size_x, size_y } = options;
                    let ctx = chart.ctx;
                    let dataset = chart.data.datasets[0];
                    for (let i = 0; i < dataset.data.length; i++) {
                        let meta = chart.getDatasetMeta(0); 
                        let element = meta.data[i];   

                        let start_angle = element.startAngle;
                        let end_angle = element.endAngle;
                        let mid_angle = start_angle + (end_angle - start_angle) / 2;

                        
                        let mid_radius = (element.outerRadius + element.innerRadius) / 2;
                        let x = mid_radius * Math.cos(mid_angle);
                        let y = mid_radius * Math.sin(mid_angle);

                        ctx.save();  

                        
                        ctx.beginPath();
                        ctx.moveTo(element.x, element.y);
                        ctx.arc(element.x, element.y, element.outerRadius, start_angle, end_angle);
                        ctx.closePath();
                        ctx.clip();
                        
                        let image_x = element.x + x - size_x[i] / 2 + offset_x[i];
                        let image_y = element.y + y - size_y[i] / 2 + offset_y[i];
                        ctx.drawImage(images[i], image_x, image_y, size_x[i], size_y[i]);  

                        ctx.restore(); 
                    }
                }
            },
        };
        Chart.register(drawPlugin);
        imageA.onload = function () {
            imageB.onload = function () {
            imageC.onload = function () {
               
                let data = {
                    labels: ['A', 'B', 'C'],
                    datasets: [{
                        data: [1, 1, 1],
                        
                        borderColor: [
                            'rgba(255, 99, 132, 1)', 
                            'rgba(54, 162, 235, 1)',  
                            'rgba(255, 206, 86, 1)'   
                        ],
                        borderWidth: 5
                    }],
                    text: ['sda', 'eas', 'das'],
                };

                let options = {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {

                        draw: {
                            offset_x: [ 14, 10,  0],
                            offset_y: [  0,  8, 8],
                            size_x:   [220, 255,200],
                            size_y:   [220, 155,230]
                        },
                            
                        
                        legend: {
                            display: false,
                        },
                        tooltip: {
                            callbacks: {
                                title: function (context) {
                                   
                                    return "";
                                },
                                label: function (context) {
                                    
                                    return data.text[context.dataIndex];
                                }
                            }
                        },
                        datalabels: {
                            display: function (context) {
                                return true;
                            },
                            color: '#000000',
                            anchor: 'center',
                            align: 'center',
                            formatter: function (value, context) {
                                return data.labels[context.dataIndex];
                            }
                        }
                    }
                }
                

                let myChart = new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: options
                });
            };
            };
            };
        }
</script>
<!-- end custom head snippets -->
