<script src="{{ base_path }}/assets/js/main.min.js"></script>
<script src="{{ base_path }}/assets/js/chart.js"></script>
<script src="{{ base_path }}/assets/js/pie.js"></script>
<script>
        window.onload = function() {
        let ctx = document.getElementById('myChart').getContext('2d');
        let imageA = new Image();
        imageA.src = "{{ base_path }}/images/oni.jpg";  
        let imageB = new Image();
        imageB.src = "{{ base_path }}/images/technology.jpg"; 
        let imageC = new Image();
        imageC.src = "{{ base_path }}/images/physics.jpg"; 
        let images = [imageA, imageB, imageC];  
        var drawPlugin = {
            id: 'draw',
            beforeDraw: function (chart, args, options) {
                if (chart.data.datasets.length > 0) {
                    let { offset_x, offset_y, size_x, size_y } = options;
                    let ctx = chart.ctx;
                    let dataset = chart.data.datasets[0];
                    for (let i = 0; i < dataset.data.length; i++) {
                        let meta = chart.getDatasetMeta(0); 
                        let element = meta.data[i];   

                        let start_angle = element.startAngle;
                        let end_angle = element.endAngle;
                        let mid_angle = start_angle + (end_angle - start_angle) / 2;

                        
                        let mid_radius = (element.outerRadius + element.innerRadius) / 2;
                        let x = mid_radius * Math.cos(mid_angle);
                        let y = mid_radius * Math.sin(mid_angle);

                        ctx.save();  

                        
                        ctx.beginPath();
                        ctx.moveTo(element.x, element.y);
                        ctx.arc(element.x, element.y, element.outerRadius, start_angle, end_angle);
                        ctx.closePath();
                        ctx.clip();
                        
                        let image_x = element.x + x - size_x[i] / 2 + offset_x[i];
                        let image_y = element.y + y - size_y[i] / 2 + offset_y[i];
                        ctx.drawImage(images[i], image_x, image_y, size_x[i], size_y[i]);  

                        ctx.restore(); 
                    }
                }
            },
        };
        Chart.register(drawPlugin);
        imageA.onload = function () {
            imageB.onload = function () {
            imageC.onload = function () {
               
                let data = {
                    labels: ['A', 'B', 'C'],
                    datasets: [{
                        data: [1, 1, 1],
                        
                        borderColor: [
                            'rgba(255, 99, 132, 1)', 
                            'rgba(54, 162, 235, 1)',  
                            'rgba(255, 206, 86, 1)'   
                        ],
                        borderWidth: 5
                    }],
                    text: ['sda', 'eas', 'das'],
                };

                let options = {
                    responsive: true,
                    maintainAspectRatio: false,
                    plugins: {

                        draw: {
                            offset_x: [ 14, 10,  0],
                            offset_y: [  0,  8, 8],
                            size_x:   [220, 255,200],
                            size_y:   [220, 155,230]
                        },
                            
                        
                        legend: {
                            display: false,
                        },
                        tooltip: {
                            callbacks: {
                                title: function (context) {
                                   
                                    return "";
                                },
                                label: function (context) {
                                    
                                    return data.text[context.dataIndex];
                                }
                            }
                        },
                        datalabels: {
                            display: function (context) {
                                return true;  // display labels
                            },
                            color: '#000000',
                            anchor: 'center',
                            align: 'center',
                            formatter: function (value, context) {
                                return data.labels[context.dataIndex];
                            }
                        }
                    }
                }
                

                let myChart = new Chart(ctx, {
                    type: 'pie',
                    data: data,
                    options: options
                });
            };
            };
            };
        }
</script>
{% include analytics.html %}
{% include /comments-providers/scripts.html %}
